{deps, [
        {mochiweb, "",
         {git, "ssh://git@git.herokai.com:2222/mochiweb.git", "3d331c66cca944dbf007cb024cfd109289f59d9b"}},
        idna,
        certifi,
        ssl_verify_fun
       ]}.

{profiles, [
    {test, [
        {deps, [
            {meck,".*",
             {git,"ssh://git@git.herokai.com:2222/meck.git", {tag, "0.8.12"}}}
        ]}
    ]}
]}.
